@tailwind base;
@tailwind components;
@tailwind utilities;

/* see here: https://codepen.io/ellie_html/pen/dyYjZyB */
.container {
  height: 100dvh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  max-width: 100vw !important; /* with this, we need to tackle a max-width due to a random media query by tailwind */
}

.tiktok {
  height: 100dvh;
  width: 100vw;
  scroll-snap-align: start;
}

/* see here: https://max.hn/thoughts/how-to-create-a-highlighter-marker-effect-in-css#:~:text=If%20you%20want%20to%20highlight,background%20color%20behind%20the%20text. */
mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  box-decoration-break: clone;
}
